@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,900&display=swap");

.quiz,
.results {
  font-family: "Roboto", sans-serif;
  background-color: #293844;
  color: #e8ebea;
  padding: 20px;
  height: 275px;
  margin-bottom: 30px;
}

.question-number {
  margin-bottom: 5px;
  margin-top: 40px;
  font-weight: 300;
  color: #5389a6;
}

.question-text {
  font-size: 22px;
  margin-top: 0;
}

.answer:first-of-type {
  margin-left: 0;
}

.end-text {
  font-size: 22px;
}

.end-results {
  font-size: 22px;
}

.back-to-start {
  background-color: #5389a6;
  color: #e8ebea;
  border-radius: 35px;
  padding: 10px;
  font-size: 14px;
}
