@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,400&display=swap");

html {
  background: #1D1D1D;
  background-repeat: no-repeat;
  height: 100%;
}

h1, h2, h3, h4, h5, h6, p, li, a, button {
  font-family: "Roboto";
  color: #e4e4dc;
}

h1 {
  font-size: 36px;
  font-weight: 600;
  line-height: 1.4em;
  margin-bottom: 16px;
}

h2 {
  font-size: 30px;
  font-weight: 600;
  line-height: 1.2em;
}

h3 {
  font-size: 26px;
  font-weight: 500;
  line-height: 1.2em;
}

h4 {
  font-size: 22px;
}

p,
li,
button {
  font-size: 16px;
}

a {
  text-decoration: none;
  font-weight: 600;
}
